In [6]:
import numpy as np

In [7]:
import matplotlib.pyplot as plt

In [8]:
import pandas as pd #warnings here may be ignored.

In [22]:
a = pd.read_csv(filepath_or_buffer='/home/mathias/Programming/Python/\
almost-infinite-sites-recursions/100-by-100-state-space-sizes.csv',
                delimiter=';',
                skipinitialspace=True)

In [23]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 6 columns):
n                    9999 non-null int64
s                    9999 non-null int64
seqUlab-siteUlab     9999 non-null object
seqLab-siteUlab      9999 non-null object
seqUlab-siteLab      9999 non-null object
seqLab-siteLab       9999 non-null object
dtypes: int64(2), object(4)
memory usage: 468.8+ KB

In [10]:
a.head()

   n   s  seqUlab-siteUlab  seqLab-siteUlab  seqUlab-siteLab  seqLab-siteLab
0   2   0                1                1                1               1
1   2   1                1                2                1               2
2   2   2                2                3                2               4
3   2   3                2                4                4               8
4   2   4                3                5                8              16

In [24]:
a.tail()

,n,s,seqUlab-siteUlab,seqLab-siteUlab,seqUlab-siteLab,seqLab-siteLab
9994,100,96,2212934188071281567269057463812441593683071087...,1210404285261741254661272003792924790973553513...,3287343190114807612778984400224244210587605272...,1561478987870801899088799589025739129078706591...
9995,100,97,7900863573987805244547277774845882934565162950...,6046958178223346971631124274163501809587943826...,7964177735150354109870248243338286985279438334...,5564330424339822149065117473726054317786383186...
9996,100,98,2798981224394404155783968676378228439119031821...,2979651851044212448659663723715561957508091813...,1928042226600893297956489969564811960797069195...,1967947475351229900367159179263607232082388270...
9997,100,99,9839808102996181894376476546134266385576213556...,1448512754793571247688538852877848034626465347...,4664138099056165119567938364268360180740888497...,6908825121095948105865736732029419378663115416...
9998,100,100,3433013527528902823501838689422887926735079248...,6948813499844370610580710468272134048635979175...,1127470346946973800070381667921871261032841704...,2407960270576190842115384760436364099514739737...

TypeError: 'last' only supports a DatetimeIndex index